apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: ecomm-frontend-apps
  namespace: argocd
spec:
  generators:
    - matrix:
        generators:
          - list:
              elements:
                - environment: dev
                - environment: staging
                - environment: prod
          - clusters:
              selector:
                matchLabels:
                  argocd.argoproj.io/secret-type: cluster
  template:
    metadata:
      name: "frontend-{{environment}}-{{name}}"
    spec:
      project: default
      source:
        repoURL: https://github.com/michealken30/e-comm-funiture.git
        targetRevision: main
        path: kubernetes-manifest/frontend
      destination:
        server: "{{server}}"
        namespace: "ecomm-{{environment}}"
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
